body {
  ul {
    padding: 0;
    margin: 0;
  }

  .feedback {
    font-family: Popins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    /* Container styles */
    .feedback__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      height: 50%;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 0.3125rem;
      box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);

      @media (max-width: 1000px) {
        width: 50%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }

      /* Header styles */
      .feedback__header {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        text-align: center;
        color: #555f84;
      }

      /* Form styles */
      .feedback__form {
        display: flex;
        flex-direction: column;
      }

      /* Label styles */
      .feedback__label {
        margin-bottom: 0.25rem;
        font-size: small;
        font-weight: bold;
        color: #555f84;
      }

      /* Input styles */
      .feedback__input,
      .feedback__select,
      .feedback__textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem;
        border: 0.0625rem solid #ccc;
        border-radius: 0.3125rem;
        font-size: 1rem;
        margin-top: 0.25rem;
      }

      /* Textarea styles */
      .feedback__textarea {
        height: 5rem;
      }

      /* Button styles */
      .feedback__button {
        background-color: #555f84;
        color: #fff;
        border: none;
        padding: 0.625rem 1.25rem;
        border-radius: 0.3125rem;
        cursor: pointer;
        font-size: 1.125rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #e5e5e5;
          color: black;
        }
      }
    }
  }
}
