body {
  ul {
    padding: 0;
    margin: 0;
  }

  .bookinfo__container {
    font-family: "Poppins", sans-serif;
    padding: 4rem 8rem;
    display: grid;
    grid-template-columns: (3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .bookinfo__cover {
    /* make the cover take 1 column of grid*/
    grid-column: 1;
    margin: 0 1rem;

    position: relative;
    height: 100%;
    img {
      width: 180px;
      height: 290px;
      object-fit: cover;
    }
  }

  .bookinfo__info {
    position: relative;
    grid-column: 2;

    .bookinfo__title {
      font-size: 1.5rem;
      font-weight: 600;
      align-items: start;
      top: 0;
    }

    .bookinfo__author {
      font-size: 1rem;
      font-weight: 400;
      color: #555f84;
      text-align: left;
    }

    .bookinfo__description {
      width: 80%;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
      overflow: hidden; //this hides text that doesnt fit within the div.
      text-overflow: ellipsis; //this adds the ellipsis to the cutoff point.
      height: 100px;
      text-align: left;
      border: 1px solid black;
    }

    .bookinfo__publish__date {
      font-size: 1rem;
      font-weight: 400;
      color: #555f84;
      text-align: left;
    }
  }
}
