body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffeadd;
  overflow-x: hidden;
}

.searchContainer {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
}

.searchContainer img {
  width: 50px;
  padding: 20px;
}

.searchContainer a {
  text-decoration: none;
}

.searchContainer h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  color: black;
}

.searchContainer input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px;
  width: 300px;
  opacity: 50%;
  border: none;
}

.searchContainer button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}

.pageTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.bookListItem {
  list-style: none;
  display: flex;
  padding: 10px;
  padding-top: 0px;
}

.bookCover {
  width: 130px;
  height: 200px;
  object-fit: cover;
  /* border: 2px solid black; */
  margin: 20px;
  box-shadow: 2px 2px 5px grey;
}

.bookInfo {
  padding: 5px;
  justify-content: space-between;
}

.bookInfo h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 200px; /* Adjust the width to your desired value */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookButton {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ff6666;
  background-color: #fcaeae;
  cursor: pointer;
  color: #ff6666;
}

.footer {
  display: flex;
  justify-content: left;
  padding-left: 40px;
  width: 100%;
  bottom: 0;
}

.footerInfo {
  font-size: 13px;
}

/*add a media query to make the bookGrid 1 column when the screen is smaller than 600px*/

@media (max-width: 600px) {
  .bookGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .heroImage {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }

  .bookListItem {
    list-style: none;
    display: flex;
    padding: 20px;
    margin: 2px;
    padding-top: 0px;
  }

  .bookListItem {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 2px;
    padding-top: 0px;
  }

  .bookCover {
    width: 110px;
    height: 160px;
    object-fit: cover;
    /* border: 2px solid black; */
    margin: 20px;
    box-shadow: 2px 2px 5px grey;
  }

  .bookInfo {
    padding: 10px;
    justify-content: space-between;
  }

  .bookInfo h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 200px; /* Adjust the width to your desired value */
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
