.navbar {
  position: sticky;
  top: 0;
  font-family: Popins, sans-serif;
  z-index: 100;

  .navbar__container {
    position: sticky;
    top: 0;
    .navbar__menu {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.5rem;

      background-color: white;
      justify-content: center;
      border-bottom: 3px solid #d5d7e0;

      li {
        margin: 0 0.5rem;

        list-style-type: none;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #555;

          &hover {
            color: #d5d7e0;
          }
        }
      }
    }

    /*---> Search bar <---*/
    .search__container {
      display: flex;
      background-color: white;
      align-items: center;
      padding: 0.5rem 0.5rem;
      z-index: 100;

      justify-content: center;

      .search__icon {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }

      input {
        width: 20rem;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        background-color: white;
        color: #555;
        border: 1px solid #d5d7e0;
        margin: 0, 0.5rem;
      }
      /*---> when the search is selected it shouldn't be highlighted <---*/
      input:focus {
        outline: none;
      }
    }
  }
}
